.login{
    position: fixed;      /* makes it overlay the whole page */
  top: 0;
  left: 0;
  width: 100%;
    height: 100vh;
      background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

.login-form{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 20px;
    

   
     background: rgba(255, 255, 255, 0.1); /* transparent white glass effect */
  backdrop-filter: blur(10px);          /* blur background behind */
  -webkit-backdrop-filter: blur(10px);
}
.login-form input{
width: 350px;
height: 40px;
margin: 10px 10px;
}
.login-form input::placeholder{
    font-size: 17px;
    padding-left: 10px;
}
.login-cont{
     border: 1px solid rgb(0, 0, 0);
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-bottom: 30px;
     position: relative;
}

.login-form button{
    width: 100px;
    height: 40px;
    font-size: 18px;
    color: white;
    background: radial-gradient(circle,blue,purple);
    border-radius: 10px;
    cursor: pointer;
}
.login-form button:hover{
    transform: scaleX(1.01);
    background: radial-gradient(circle,rgb(111, 111, 222),rgb(30, 9, 30));
}

.login-cont p{
    cursor: pointer;
}

.login-cont h1{
    font-size: 50px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.close-form{
    font-size: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}